{:aliases {:fix {:jvm-opts ["--add-modules" "javax.xml.bind"]}}
 :deps    {org.clojure/clojure {:mvn/version "1.10.0"}
           http-kit            {:mvn/version "2.4.0-alpha3"}
           aleph               {:mvn/version "0.4.7-alpha5"}
           yada                {:mvn/version "1.2.16"}}}
